body {
  margin: 0;
  font-family: Arial, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  min-height: 100dvh;

  padding: 16px;

  position: relative;
}

/* FUNDO */
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background: url('Inauguracao.jpg') no-repeat center center;
  background-size: cover;

  z-index: -2;
}

/* OVERLAY */
body::after {
  content: "";
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);

  z-index: -1;
}

/* CONTAINER */
.container {
  background: #ffffff;
  padding: 24px;
  border-radius: 12px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  text-align: center;
}

/* LOGO */
#logo {
  height: 50px;
  width: 60px;
  margin-bottom: 10px;
}

/* TÍTULO */
h2 {
  margin-bottom: 20px;
  color: #11005e;
}

/* INPUTS */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #11005e;
  font-size: 16px;
  color: #11005e;
  box-sizing: border-box;
}

/* BOTÃO */
button {
  width: 100%;
  padding: 12px;
  background: #11005e;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #6b71c4;
}

/* LINHA */
hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}